<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Всё о играх</title>
    <link rel="shortcut icon" href="{% static 'images/gamepad.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="menu">
    <a href="{% url 'index' %}"><img src="{% static 'images/gamepad.png' %}"> </a>
    <div><a href="{% url 'index' %}">Главная</a></div>
    <div><a href="#">Новинки(превью игр)</a></div>
    <div><a href="#">Обзоры(помощь в прохождении)</a></div>
    {% if request.user.is_authenticated %}

    <div><a href="#">Выйти</a></div>

    {% else %}
    <div><a href="{% url 'register' %}">Зарегистрироваться</a></div>
    <div><a href="#">Войти</a></div>
    {% endif %}

</div>


{% block content %}
{% endblock %}
</body>
</html>