<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Всё о играх</title>
    <link rel="shortcut icon" href="{% static 'images/gamepad.png' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
{%if profile.avatar%}
<style>
    body {
     background:url("{{profile.avatar.url}}");
     background-size:cover;
     }
</style>
{%endif%}
{%if game.game_image%}
<style>
    body{
    background:url("{{ game.game_image.url }}");
     background-size:cover;
    }
</style>
{%endif%}
{%if new_game.image%}
<style>
    body{
    background:url("{{ new_game.image.url }}");
     background-size:cover;
    }
</style>
{%endif%}
<body>

{% if messages %}
{% for message in messages %}
<a href="{% url 'index' %}">
    <div class="message">
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
</a>
<div class="menu">
    <a href="{% url 'index' %}"><img src="{% static 'images/gamepad.png' %}"> </a>
    <div><a href="{% url 'index' %}">Главная</a></div>
    <div><a href="{% url 'new-games' %}">Новинки(превью игр)</a></div>
    <div><a href="{% url 'help_games' %}">Обзоры(помощь в прохождении)</a></div>
    {% if request.user.is_authenticated %}
    <div><a href="{% url 'profile' %}">Ваш профиль</a></div>
    <div><a href="{% url 'logout' %}">Выйти</a></div>

    {% else %}
    <div><a href="{% url 'register' %}">Зарегистрироваться</a></div>
    <div><a href="{% url 'login' %}">Войти</a></div>
    {% endif %}

</div>


{% block content %}
{% endblock %}

</body>
</html>