{% extends 'users/base.html'%}

{% block content %}
<div class="box">
    <h3>Ваш профиль:</h3>
    {% if profile.avatar %}
    <img class="profile-size" src="{{profile.avatar.url}}"/>
    {% endif%}
    <p>Ник пользователя: <b>{{profile.username}}</b></p>
    <p>Имя: <b>{{profile.name}}</b></p>
    <p>Адрес электронной почты: <b>{{profile.email}}</b></p>
    {% if profile.favorite_game %}
    <p>Любимая игра: <b>{{profile.favorite_game}}</b></p>
    {% endif%}
    {% if profile.favorite_genre %}
    <p>Любимый жанр игр: <b>{{profile.favorite_genre}}</b></p>
    {% endif%}
    {% if profile.birthday %}
    <p>День рождения: <b>{{profile.birthday}}</b></p>
    {% endif%}

</div>
<div class="margin"><a class="change" href="{% url 'full-form' %}">Изменить профиль</a></div>
{% endblock %}