{% extends 'users/base.html'%}
{% block content %}
<div class="box">
    <h1 class="color_register">Регистрация:</h1>

    <form action="{% url 'register' %}" method="post" class="register">
        {%csrf_token%}
        {{ form.non_field_errors }}
        {% for field in form %}
        <p>
            {{ field.errors }}
            <label>{{ field.label }}</label>
            {{ field }}
        </p>
        {%endfor%}
        <button class="change">Зарегистрироваться</button>
    </form>
</div>

{% endblock %}