{% extends 'users/base.html'%}
{% block content %}
<div class="box_single">
    <h1>{{ game.title }}</h1>
    <h3>Жанр:<a class="tag" href="{% url 'help_games_genre' game.genre %}">{{ game.genre }}</a>,
        <a class="tag" href="{% url 'help_games_genre' game.genre2 %}">{{ game.genre2 }}</a>,
        <a class="tag" href="{% url 'help_games_genre' game.genre3 %}">{{ game.genre3 }}</a>

    </h3>
    <h5>Дата выхода игры:{{game.release_date}}</h5>
    <h6>Дата написания статьи:{{game.created}}</h6>
    <div class="red">Рейтинг от игроков на Metarankings.ru: <span class="rating">{{game.rating}}</span></div>
    <div class="red">Рейтинг нашего сайта: <span class="rating">{{game.rating_site}}</span></div>
    <div class="red">Ваша оценка: <span class="rating">{{ev}}</span></div>
    <img width="372px" height="210px" src="{{ game.game_image.url }}">
    <div class="text">{{ game.description|safe }}</div>
    <h3 class="left">ПОДСКАЗКИ:</h3>
    <div class="box_hint">
        {% for hint in hints %}
        <div class="hint_video"><a href="{% url 'hint_game' hint.hint_title %}">
            {{ hint.hint_title }}</a></div>
        {% endfor %}
    </div>
    <h3 class="left">Видео обзоры:</h3>
    <div class="box_video">
        {% for video in videos %}
        <div class="hint_video"><a href="{% url 'video_view_game' video.video_title %}">
            {{ video.video_title }}</a></div>
        {% endfor %}
    </div>
</div>
<a href="{% url 'comment_games' game.id %}">
    <button class="btm">Коментировать</button>
</a>
<div class="box_comment" id="down">
    {% for c in comment %}
    <div class="comment">
        {% if c.avatar != '' %}
        <p>
            <img src="{{ c.avatar.url}}" class="img_avatar">
        </p>

        {% endif %}
        <p class="name">
            <a data-title="Любимая игра:'{{ c.favourite_game }}',Любимый игровой жанр:'{{ c.favourite_genre }}'"
               href="{% url 'profile_view' c.name %}" target="_blank">
                {{ c.name }}</a>

        </p>
        <p class=" text_comment">{{ c.comment }}</p>
        <div class="date">Дата:{{ c.comment_created }}</div>
    </div>

    {% endfor %}

</div>
{% if request.user.is_authenticated and ev == 'Вашей оценки нет' %}
<a href="{% url 'game_evaluation' game.id %}">
    <button class="btm">Оценить игру</button>
</a>
{%endif%}
<a href="{% url 'help_games' %}">
    <button class="btm">Назад</button>
</a>
<a href="{% url 'other_evaluations' game.id %}" target="_blank">
    <button class="btm">Оценки пользователей</button>
</a>
<script>
    down=document.getElementById('down');
    down.scrollTop=down.scrollHeight;
</script>
{% endblock %}