body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center ;
    padding: 0;
    margin:0;
    background: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.menu{
    background: rgb(142, 214, 81);
    padding: 10px;
    border-bottom: 6px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu div{
    color:rgb(39, 80, 138)
}
a {
    text-decoration: none;
}
.menu div a {
    text-decoration: none;
    color:white
}
.colortext{
    color: #fff;
    
}
.fon{
    background: rgb(142, 214, 81);
}
.box{
    
    background-color: lightyellow;
    margin: 0 auto;
    height: auto;
    width: 100%;
    border: 2px solid darkblue
}
.register{
    color:green;
}
input{
    width: 100%;
    
    padding: 6px 10px;
    box-sizing: border-box;
    margin-top: 4px;
}
.btm{
    background: #edf290;
    color:#271be3;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}
button{
    border-radius: 6px;
    box-shadow:inset 0 0 6px 2px #271be3;
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 24px;
}
.eval_other{
    border-radius: 6px;
    box-shadow:inset 0 0 6px 2px white;
    padding: 10px 40px;
    margin: 5px auto;
    font-size: 16px;
    color:#b9f0e8;
    background:#89203d ;
    max-width: fit-content;
}
.profile-size{
    width: auto;
    height: 150px;
}
.change{
    border-radius: 6px;
    box-shadow:inset 0 0 6px 2px white;
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 24px;
    cursor: pointer;
    color:whitesmoke;
    background:#003366; 
    text-decoration: none;
}
.margin{
    margin-top: 10px;
}
.message{
    text-align: center;
    margin:0 auto;
    color:green;
    
    border-radius: 6px;
    box-shadow:inset 0 0 6px 2px green;
    width: 450px;
    background: white;
}
.message_error{
    text-align: center;
    margin:0 auto;
    color:red;
    
    border-radius: 6px;
    box-shadow:inset 0 0 6px 2px red;
    width: 450px;
    background: white;
}
.box h3{
    color:darkblue
}
.red{
    color:red
}
.box_game{
    background-color: lightyellow;
    margin: 10px 100px;
    padding-bottom: 10px;
    height: auto;
    width: 33%;
    border: 2px solid darkblue
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
}
.box_single{
    background-color: lightyellow;
    margin: 0 auto;
    height: auto;
    max-width: 100%;
    border: 2px solid darkred
}
.box_single h1{
    color:darkcyan

}
.center{
    text-align: center;
    color: darkcyan;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}
.green{
    color: darkgreen
}
.tag{
    text-decoration-line:underline;
    color:#003366

}
.ngg:hover::after{
    content: attr(data-title);
    box-sizing: border-box;
    position: relative;
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 10px;
    z-index: 99999;
    background: green;
    color:white;


}
.text{
    text-align: left;

}
.box_comment{
    background-color: skyblue;
    text-align: left;
    overflow:auto;
    scroll-behavior: smooth;
    
    height: 450px;
    max-width: 100%;
    border: 2px solid #121212;
    display:list-item;
    
}
.comment{
    
    border:2px coral solid;
    max-width: 100%;
    max-height: fit-content;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background: white;
    box-sizing: border-box;
}
.name{
    color:#003366;
    font-style:italic;
    font-size: 18px;
    font-weight: bold;
}
.name a:hover::after{
    content: attr(data-title);
    box-sizing: border-box;
    position: relative;
    display: flex;
    max-width: fit-content;
    margin: -10 auto;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    z-index: 99999;
    background: #c1d2e3;
    color:#7c4123;
}
.text_comment{
    font-size: 16px;
    
}
.date{
    color:#29c25c;
    font-style: oblique;
}
.img_avatar{
    
    height: 100px;
    box-sizing: border-box;
}

.box_hint{
    background-color: #8afb25;
    text-align: left;
    overflow:auto;
    scroll-behavior: smooth;

    height: 150px;
    max-width: 100%;
    border: 2px solid #121212;
    display:list-item;
}
.box_video{
    background-color:#29c25c;
    text-align: left;
    overflow:auto;
    scroll-behavior: smooth;

    height: 150px;
    max-width: 100%;
    border: 2px solid #121212;
    display:list-item;
}

.box_search{
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between ;
    box-sizing: border-box;
    height: 40px;
    max-width: fit-content;
   
}

.search_input{
    font-size: 16px;
    padding: 10px;
    color:#271be3;
    width: 800px;

    

}
.search_input::placeholder{
    color: #271be3;
}
.search_input2{
    width:150px;
    background:#003366;
    border-radius: 10px;
    color:#fff;
    float:right;
    
    margin-top: 0px;
    
}
.color_register{
    color:#271be3;
}
.left{
    text-align: left;
    color:#231bc4;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}
.hint_video{
    border:2px coral solid;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background: white;
    box-sizing: border-box;
    
}
.hint_video a:link{
    color:#7c4123
}
.hint_video a:visited{
    color:#29c25c;
}
.hint_video a:hover{
    color:red;
}

.search{
    background: #19305d;
    color:#35a941;
    font-weight: bold;
    
}
.pagination{
    display:flex;
    border-radius: 6px;
    box-shadow:inset 0 0 6px 2px #003366;
    background: #c9fde1;
    color:#be5123;
    font-weight: bold;
    max-width: 725px;
    margin: 0 auto;
    margin-top: -50px;
}
.pag{
    color: #be5123;
}
.btm_search{
    background: white;
    color:blue;
    font-weight: bold;
    position: absolute;
    margin-left: 590px;
    margin-top: -40px;
    
}
.otstup{
    padding-left: 325px;
}
.rating{
    color: #231bc4;
    font-weight: bold;
}
.eval{
    color:#35a941;
    font-weight:bold ;
    font-size: 20px;
}
.eval::placeholder{
    color:darkred;
}
