{% extends 'users/base.html'%}

{% block content %}
<h3>Список новинок по жанру <span class="green">{{ genre }}</span> :</h3>
<div class="container">
    {% for new_game in new_games %}

    <div class="boxnewgame">
        <a href="{% url 'single-new-game' new_game.id %}"><h2 class="red">{{ new_game.title }}</h2></a>
        <a href="{% url 'single-new-game' new_game.id %}"><img width="372px" height="210px"
                                                               src="{{ new_game.image.url }}"></a>
          <h5>Дата создания:{{ new_game.create }}</h5>
        <h5>Жанр:{{ new_game.genre }}</h5>
    </div>
    {% endfor %}
</div>


{% endblock %}