{% extends 'users/base.html'%}

{% block content %}
{% include 'help_games/search.html'%}
<a href="{% url 'new-games' %}">
    <button class="btm_search">Назад</button>
</a>
{% if search %}

<h3 class="search">Результаты поиска:</h3>
{%endif%}
<div class="container">

    {% for new_game in new_games %}

    <div class="box_game">
        <a href="{% url 'single-new-game' new_game.id %}"><h2 class="red">{{ new_game.title }}</h2></a>
        <a href="{% url 'single-new-game' new_game.id %}"><img width="372px" height="210px"
                                                               src="{{ new_game.image.url }}"></a>

        <h5>Жанр:<a class="ngg" data-title="сортировка по жанру {{ new_game.genre }}"
                    href="{% url 'new-games-genre' new_game.genre %}">{{ new_game.genre }}</a>,
            <a class="ngg" data-title="сортировка по жанру {{ new_game.genre2 }}"
               href="{% url 'new-games-genre' new_game.genre2 %}">{{ new_game.genre2 }}</a>,
            <a class="ngg" data-title="сортировка по жанру {{ new_game.genre3 }}"
               href="{% url 'new-games-genre' new_game.genre3 %}">{{ new_game.genre3 }}</a>

        </h5>
        <h6>Дата написания статьи:{{ new_game.create }}</h6>
        <div class="red">Рейтинг от экспертов на Metarankings.ru: <span class="rating">{{new_game.rating}}</span></div>
        <div class="red">Рейтинг нашего сайта: <span class="rating">{{new_game.rating_site}}</span></div>
    </div>
    {% endfor %}
</div>
{% include 'new_games/pagination.html' with page=new_games  %}


{%endblock%}