{% extends 'users/base.html'%}
{% load static %}
{% block content %}
<div class="box_single">
    <h1>{{ new_game.title }}</h1>
    <h3>Жанр:<a class="tag" href="{% url 'new-games-genre' new_game.genre %}">{{ new_game.genre }}</a></h3>
    <h5>Дата создания:{{ new_game.create }}</h5>
    <div class="red">Рейтинг от экспертов на Metarankings.ru: <span class="rating">{{new_game.rating}}</span></div>
    <div class="red">Рейтинг нашего сайта: <span class="rating">{{new_game.rating_site}}</span></div>
    <div class="red">Ваша оценка: <span class="rating">{{ev}}</span></div>
    <img width="372px" height="210px" src="{{ new_game.image.url }}">
    <div class="text">{{ new_game.description|safe }}</div>
    <div>
        <video width="70%" src="{{ new_game.video.url }}" controls></video>
    </div>
    <a href="{% url 'comment_new_games' new_game.id %}">
        <button class="btm">Коментировать</button>
    </a>
    <div class="box_comment" id="down">
        {% for c in comments %}
        <div class="comment">
            {% if c.avatar != '' %}
            <p>
                <img src="{{ c.avatar.url}}" class="img_avatar">
            </p>

            {% endif %}
            <p class="name">
                <a data-title="Любимая игра:'{{ c.favourite_game }}',Любимый игровой жанр:'{{ c.favourite_genre }}'"
                   href="{% url 'profile_view' c.name %}" target="_blank">
                    {{ c.name }}</a>

            </p>
            <p class=" text_comment">{{ c.comment }}</p>
            <div class="date">Дата:{{ c.comment_created }}</div>
        </div>

        {% endfor %}
    </div>
    {% if request.user.is_authenticated and request.user.profile != user_eval %}
    <a href="{% url 'new_game_evaluation' new_game.id %}">
        <button class="btm">Оценить игру</button>
    </a>
    {%endif%}
    <a href="{% url 'new-games' %}">
        <button class="btm">Назад</button>
    </a>


    <script>
        down=document.getElementById('down');
        down.scrollTop=down.scrollHeight;
    </script>
    {% endblock %}